<!DOCTYPE html>  
<html>  
<head>
    <link href = "assets/css/miestilo.css" rel = "stylesheet">
    <title>BushmillDrinks</title>  
</head>  
<body> 
    <nav class="menu">
        <ul class="elementos">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>

    <div class="titulo">
        <h1>Bushmill Drinks</h1>
    </div>
    
    <div style = "color: rgb(252, 250, 250);">
        <p class="parrafo">
            Tus bebidas favoritas, tu lugar favorito,
            <span style = "color: rgb(44, 43, 48);">
                Span dentro de un párrafo.
            </span>
        </p> 
        <footer>
            2025
        </footer>
    </div> 
</body>  
</html>